.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.authenticate-container {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.auth-input {
  width: 90%;
  line-height: 1.5rem;
}

.auth-button{
  padding: 1px 5px 4px 5px;
  background: #1199ff;
  color: #ffffff;
  border: 1px solid #1199ff;
  border-radius: 4px;
  font-size: 1.5rem;
}

.notes-container {
  max-width: 600px;
  margin: 0 auto;
}

.notes-input-container {
  display: flex;
}

.notes-input {
  width: 80%;
  line-height: 1.5rem;
}

.notes-input-button {
  width: 20%;
  padding: 1px 5px 4px 5px;
  background: #1199ff;
  color: #ffffff;
  border: 1px solid #1199ff;
  font-size: 1.5rem;
}

.notes-edit-input {
  width: 100%;
  line-height: 1.5rem;
}

.notes-edit-button {
  padding: 2px 5px 3px 5px;
  background: #1199ff;
  color: #ffffff;
  border: 1px solid #1199ff;
  border-radius: 4px;
  font-size: .75rem;
}

.notes-update-button {
  padding: 3px 5px 4px 5px;
  background: #1199ff;
  color: #ffffff;
  border: 1px solid #1199ff;
  border-radius: 4px;
  font-size: 1rem;
}

.notes-item {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.notes-item-content {
  padding-top: 4px;
}

.header {
  background: #1199ff;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 3rem;
}

.nav-logo {
  font-size: 2.5rem;
  color: #ffffff;
  min-width: 250px;
}

.nav-item {
  margin: .5rem;
}

.nav-link {
  font-size: 1.25rem;
  text-decoration: none;
}